@import "solarized.less";
@import "codemirror.less";

::-webkit-scrollbar-thumb {
  min-height: 50px;
}

.CodeMirror {
  background: transparent;
  font-size: 18px;
}


.CodeMirror, .CodeMirror-scroll {
  height: 100%;
}

@margin: 24px;
.CodeMirror-lines {
    padding: @margin;
}
.CodeMirror-linenumber{
  margin-left: -@margin;
}
.CodeMirror-widget .fold {
  margin-left: -(@margin + 4px);
  width: calc(~"100% +" 2*@margin);
  padding: @margin;

  pre {
    padding: 10px 0px 10px @margin/2;
    margin: 10px 0 10px 0;
    display: inline-block;
  }
}


.CodeMirror {
  // emphasis on not parsed (){}
  .CodeMirror-code > pre > span,
  .CodeMirror-code > div > pre > span,
  .CodeMirror-linewidget pre {
    font-weight: bold;
    & > * {
      font-weight: normal;
    }
  }

  .CodeMirror-linewidget {
    overflow: visible !important;

    .inline {
      border-radius: 2px;
      position: absolute;
      bottom: 0;
      overflow: hidden;
      margin-left: 50px;
      padding-left: 5px;
    }

    i {
      margin-left: 16px;
      margin-right: 6px;
      font-size: 12px;
    }
  }

  .timeout,
  .runtime-error, 
  .compiler.error {
    i { color: red;}
  }

  .compiler.warning {
    i { color: yellow; }
  } 

  .runtime-error,
  .compiler {
    pre {
      display: inline-block;
    }
  }
}

.CodeMirror-hints {
  // resize: horizontal;
  z-index: 10;
  max-height: 400px;
  border: none;

  .autocomplete {
    display: table-row;
    max-width: none;
    resize: none;
    .name{
      display: table-cell;
    }
    .signature{
      padding-left: 5px;
      display: table-cell;
      //max-width: 600px;
    }
  }
}

.CodeMirror-dialog.CodeMirror-dialog-top {
  border: none;
  margin-left: 56px; // gutter size
  line-height: 21px;

  padding-left: 2px;
  padding-right: 0;
  span {
    display: none;
  }
  input {
    font-size: 18px;
    padding: 0;
    width: calc(~"100% - "150px) !important;
  }
}


@import "layout.less";

body {
  margin: 0;
  overflow: hidden;
}

html, body, #code {
  height: 100%;
}

// site design / logo © 2015 Stack Exchange Inc; user contributions licensed under cc by-sa 3.0 with attribution required
// stackexchange.com
kbd {
  padding: .1em .6em;
  border: 1px solid #ccc;
  font-size: 11px;
  font-family: Arial,Helvetica,sans-serif;
  background-color: #f7f7f7;
  color: #333;
  -moz-box-shadow: 0 1px 0 rgba(0,0,0,0.2),0 0 0 2px #fff inset;
  -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.2),0 0 0 2px #fff inset;
  box-shadow: 0 1px 0 rgba(0,0,0,0.2),0 0 0 2px #fff inset;
  border-radius: 3px;
  display: inline-block;
  margin: 0 .1em;
  text-shadow: 0 1px 0 #fff;
  line-height: 1.4;
  white-space: nowrap
}

.menu {
  position: fixed;
  top: 0;
  right: 0;
  margin: 16px;
  border-radius: 5px;
  z-index: 20;
  padding-left: 0;

  li {
    display: block;
    font-size: 32px;
    margin: 10px;
    cursor: pointer;
  }
}


.cm-s-solarized {
  .solarized-pallette;

  .autocomplete .signature {
    color: @cyan;
  }

  &.cm-s-dark {
    & + .menu,
    .CodeMirror-hints {
      box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.75);
    }

    & + .menu {
      background-color: @base02;
      color: @base01;
      *:hover {
        color: @base1;
      }
    }

    .CodeMirror-widget .fold,
    .CodeMirror-linewidget .inline,
    .CodeMirror-hints {
      background-color: @base02;
    }

    .CodeMirror-hint-active {
      color: inherit;
      background-color: fade(@base03, 50%);
    }

    .CodeMirror-dialog {
      background-color: @base02;
      color: @base01;
    }

    &, .CodeMirror-hints {
      ::-webkit-scrollbar-corner {
        background: @base03;
      }

      ::-webkit-scrollbar-thumb {
        background: @base02;
        box-shadow: 0 0 1px black inset;
      }
    }
  }

  &.cm-s-light {
    & + .menu,
    .CodeMirror-hints {
      box-shadow: 1px 1px 5px 1px rgba(200, 200, 200, 0.75);
    }

    & + .menu {
      background-color: @base2;
      color: @base1;
      *:hover {
        color: @base01;
      }
    }

    .CodeMirror-widget .fold,
    .CodeMirror-linewidget .inline,
    .CodeMirror-hints {
      background-color: @base2;
    }

    .CodeMirror-hint-active {
      color: inherit;
      background-color: fade(@base3, 50%);
    }

    .CodeMirror-dialog {
      background-color: @base2;
      color: @base1;
    }

    &, .CodeMirror-hints {
      ::-webkit-scrollbar-corner {
        background: @base3;
      }

      ::-webkit-scrollbar-thumb {
        background: @base02;
        box-shadow: 0 0 1px grey inset;
      }
    }
  }
}