@import "solarized.less";

// CODEMIRROR


.CodeMirror {
  background: transparent;
  font-size: 18px;
}


.CodeMirror, .CodeMirror-scroll {
  height: 100%;
}

.CodeMirror-widget {
  .inline {
    margin-left: 50px;
  }
  .fold {
    width: 100%;
  }
  pre {
    display: inline-block;
  }
}
@margin: 20px;
.CodeMirror-lines {
    padding: @margin;
}
.CodeMirror-linenumber{
  margin-left: -@margin;
}
.CodeMirror-widget .fold, 
.CodeMirror-linewidget {
  left: -@margin;
  width: calc(~"100% +" 2*@margin);

  pre {
    padding: 10px 0px 10px @margin/2;
    margin: 10px 0 10px 0;
  }
}

.CodeMirror {
  // squigly lines
  .error {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAACCAYAAAB/qH1jAAAABmJLR…FJREFUCNdjPMDBUc/AwNDAAAFMTAwMDA0OP34wQgX/AQBYgwYEx4f9lQAAAABJRU5ErkJggg==);
    background-position: bottom left;
    background-repeat: repeat-x;
  }
}


// LAYOUT

body {
  margin: 0;
  overflow: hidden;
}

html, body, .code {
  height: 100%;
}
